@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'montserrat',sans-serif;
}
html{
    font-size: 10px;
}
.side-one img{
    width:200px;
    height:230px;
    margin: 1rem 0;
    border-radius: 50%;
    box-shadow: 0 0 0 1rem rgba(255,255,255,.2);
    object-fit: cover; 
}
a{
    text-decoration: none;
}
#flex-container{
    display: flex;
    background:linear-gradient(white,purple);
    flex-direction: row;
    min-height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    padding: 5.5rem;
    align-items: flex-end;
}
.side-one{
    background: rgb(180, 32, 180);
    width:35rem;
    height: 58rem;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    border-radius: 4rem;
}
.side-one .name{
    font-size: 2.5rem;
    color: #fff;
    padding:.5rem 0;
}
.side-one .post{
    font-size: 2rem;
    color:#eee;
    padding:.5rem 0;
    font-weight: lighter;
}
.side-one.navbar{
    padding: 1rem 3rem;
}
.side-one .navbar ul li{
    margin:1rem 0;
    list-style: none;
}
.side-one .navbar ul li a{
    padding:.5rem;
    margin:1.5rem 0;
    color:#fff;
    font-size: 2rem;
    display:block;
    background: rgba(255,255,255,.2);
    box-shadow:0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 5rem;
}
.side-one .navbar ul li a:hover{
    background:rgba(255,255,255,.5);
    color:#555;
    transition:none;
}
.container{
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    color:rgb(180, 32, 180);
    width:75rem;
    height: 58rem;
    border-radius: 4rem;
    overflow:hidden;

}
.home{
    position:relative;
    min-height: 100%;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.home h3{
    font-size: 2.5rem;
    font-weight: lighter;
    color:rgb(180, 32, 180)
}
.home .name{
    font-size: 3.5rem;
}
.home .name span{
    font-size:4rem;
}
.home .post{
    padding: 1rem 0;
}

.btn{
    font-size: 2rem;
    padding: .7rem 4rem;
    background:rgb(180, 32, 180);
    color: white;
    margin-top: 1rem;
    border-radius:1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
.btn:hover{
    background:rgba(255,255,255,.5);
    color:rgba(0,0,0,.3);
    transition:none;
}
.home .icons{
    position:absolute;
    display:flex;
    padding:1rem;
    left:50%; bottom:5rem;
    border-radius: 1rem;
    background: rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    transform:translateX(-50%);
}
.home .icons a{
    background: rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    padding: 1rem 2rem;
    margin: 1rem;
    color: rgb(180, 32, 180);
    font-size: 2rem;
}
.home .icons a:hover{
    background: rgba(255,255,255,.5);
    color:#555;
}
.about 

.heading{
    font-size:3rem;
    text-align: center;
    padding:1rem;
    color:rgb(180, 32, 180);
}
.about .content h3{
    font-size: 2.5rem;
}
.about .content p{
    font-size: 1.5rem;
    padding:.5rem 0;
}
section{
    padding: 1rem 7%;
    min-height: 100%;
}
.about .skill{
    padding:1rem 0;
}
.about .skill .progress{
    margin:1.5rem 0;
    border-radius: 1rem;
    background: rgba(255,255,255,.2);
    padding:1rem;
    box-shadow:0 1rem 2rem rgba(0,0,0,.2);
}
.about .skill .progress h3{
    display:flex;
    font-size:2rem;
    justify-content: space-between;
}
.about .skill .progress .bar{
    width:100%;
    position:relative;
    height:.3rem;
    margin:1rem 0;
    background: #555;
}
.about .skill .progress .bar span{
    width:100%;
    height:100%;
    top:0; 
    left:0;
    background: #fff;
    position:absolute;
}
.about .skill .progress:nth-child(1) .bar span{
    width:60%;
}
.about .skill .progress:nth-child(2) .bar span{
    width:50%;
}
.about .skill .progress:nth-child(3) .bar span{
    width:10%;
}
.education .heading{
    font-size: 4rem;
}


.education .box-container{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
    display: flex;
}
.education .box-container .box{
    padding: 0 2rem;
    padding-bottom: 4rem;
    width:30rem;
    border-left: .2rem solid #eee;
}
.education .box-container .box .year{
    font-size: 2rem;
    position:relative;
    color: #eee;
}
.education .box-container .box .year::before{
    position: absolute;
    top:.3rem;
    left:-3.1rem;
    background: #fff;
    border-radius:50%;
    width: 2rem;
    height:2rem;
    content:'';
}
.education .box-container .box p{
    font-size:2rem;
    padding-top: 1rem;
}
.contact .row{
    justify-content: space-between;
    padding-top: 7rem;
    display: flex;
}
.contact .row form{
    justify-content: space-between;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    background: rgba(255,255,255,.1);
}
.contact .row form .box{
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    background: rgba(255,255,255,.1);
    margin:1rem 0;
    padding: 0 1rem;
    font-size:1.7rem;
    height:4rem;
    width: 49%;
    text-transform: none;
    border: none;
}
.contact .row form .box::placeholder{
    color: rgba(180, 32, 180);
}
.contact .row form .message{
    padding: 1rem;
    height:15rem;
    width: 100%;
}
.contact .row .reach{
    padding:0 5rem;
}
.contact .row .reach .icon{
    padding:1rem 0;
}
.contact .row .reach .icon h3{
    font-size:2rem;
    padding:1rem 0;
    color:rgba(180, 32, 180)
}
.contact .row .reach .icon p{
    font-size: 1.5rem;
}
.contact .heading{
    font-size:4rem;
}









